[submodule "themes/hugo-scroll"]
	path = themes/hugo-scroll
	url = https://github.com/janraasch/hugo-scroll.git
[submodule "z-l-wedding/themes/osm"]
	path = z-l-wedding/themes/osm
	url = https://github.com/Hanzei/hugo-component-osm.git
